#######################################
#
# log.conf sets the log configurations
#
#######################################

# log_level sets the level for logging
# 0 for fatal
# 1 for error
# 2 for warn
# 3 for info
# 4 for debug
# 5 for trace
# Default: 1
#log_level=1;

# The filename for the log
log_filename="log.log";

# To print or not in stdout/stderr
# Default: false
#print_log=false;

# Log prefix format
# %d: date
# %l: log level
# %f: source filename
# %n: line number
# %%: '%' character
# Default: "%d %l %f:%n: "
#log_prefix_format="%d %l %f:%n: ";

# Log time format
# See strftime() format options
# Default: "%Y-%m-%d %H:%M:%S"
#log_time_format="%Y-%m-%d %H:%M:%S";

# Display microseconds
# Default: false
#log_display_microseconds=false;

